body {
	background: #84AEDE url('/bg-trees.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0;
}

html, body, #root {
	height: 100%;
}
